rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Bad
    match /leagues/survivor50 {
      allow read: if true;
      allow write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}